.DS_Store
*~
/Dartam/target/
/Dartam/nbproject/private/
/Dartam/build/classes/
/Dartam/dist/
Dartam/build/built-jar.properties
Dartam/dist/Dartam.jar
Dartam/dist/README.TXT
Dartam/javac.20240131_145449.args
Dartam/javac.20240131_145459.args
Dartam/javac.20240131_145519.args
Dartam/javac.20240131_145530.args
Dartam/log.txt
Dartam/nbproject/private/private.properties
Dartam/tokens.txt
*.properties
*.args
*.xml
*.properties
EASy68K